version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12

      - image: circleci/mysql:5.7
        environment:
          MYSQL_ROOT_PASSWORD: zebra
          MYSQL_DATABASE: zebra
          MYSQL_USER: zebra
          MYSQL_PASSWORD: zebra
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
      - run:
          name: Installing libraries for Cypress
          command: |
            sudo apt-get install libgtk-3-0 libxss1 libgconf-2-4
      - run:
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 30`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run:
          name: Install MySQL CLI
          command: |
            sudo apt-get install mysql-client
      - run: npm install
      - run: npm run bootstrap
      - run: node_modules/gulp/bin/gulp.js e2e

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
